# Copyright (c) 2020 Tobias Svehagen
# SPDX-License-Identifier: Apache-2.0

if SHIELD_ADAFRUIT_FEATHER_HUZZAH

if NETWORKING

config WIFI_ESP
	default y

config WIFI_ESP_AT_VERSION_1_7

endif # NETWORKING

endif # SHIELD_ADAFRUIT_FEATHER_HUZZAH
