# Copyright (c) 2020 Tobias Svehagen
# SPDX-License-Identifier: Apache-2.0

if SHIELD_ADAFRUIT_FEATHER_HUZZAH32

if NETWORKING

config WIFI_ESP
	default y

config WIFI_ESP_AT_VERSION_2_0

endif # NETWORKING

endif # SHIELD_ADAFRUIT_FEATHER_HUZZAH32
